<div class="container">
  <div class="card" *ngIf="creditCard.creditCardNumber">
    <div class="card-body">
      <h4 class="card-title">Card Holder Name: {{ creditCard.cardHolder }}</h4>
      <p class="card-text">Credit Card Number: {{ creditCard.creditCardNumber }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Expiration Date: {{ creditCard.expirationDate }}</li>
      <li class="list-group-item">Security Code: {{ creditCard.securityCode }}</li>
      <li class="list-group-item">Amount: {{ creditCard.amount }}</li>
    </ul>
  </div>

  <div *ngIf="!creditCard.creditCardNumber">
    <div class="alert alert-warning text-center mt-5">
      No recent payment made yet
    </div>
  </div>

</div>
